[2019-03-22 17:52] imr-framework opened #1 "Rename `Sequence` to `BlochSequence` in bloch_sequence.py"
The comment does mention to not confuse with `pypulseq`'s `Sequence`, but this might be confusing during code imports.

[2019-03-22 17:57] sravan953 opened #2 "Rename `Sequence` to `BlochSequence` in bloch_sequence.py"
The comment does mention to not confuse with `pypulseq`'s `Sequence`, but this might be confusing during code imports.

[2019-03-22 18:41] tonggehua commented on #2
Agreed- this change will be in effect starting from the next push, when this issue will be moved to "done"

[2019-03-27 18:59] #2 closed

[2019-05-29 18:28] Mmj94 opened #3 "DB query error"
UnboundLocalError: local variable 'conn' referenced before assignment
[UnboundLocalError_ local variable 'conn' referenced before assignment __ Werkzeug Debugger.pdf](https://github.com/imr-framework/Virtual-Scanner/files/3233899/UnboundLocalError_.local.variable.conn.referenced.before.assignment.__.Werkzeug.Debugger.pdf)

[2019-05-30 21:01] ellieaniosis opened #4 "Local Variable Error"
UnboundLocalError: local variable 'pht_type' referenced before assignment

[2019-05-30 23:33] sairamgeethanath commented on #3
The fix is to have the 'coms_server_flask.py' script run from the Virtual Scanner folder, this is an IDE (PyCharm) issue, the script automatically works fine from command line interface

[2019-05-30 23:34] sairamgeethanath commented on #4
@Mmj94 - Could you please gray out the ISMRM-NIST phantom option for now?

[2019-05-31 15:12] ellieaniosis opened #5 "Select File advanced mode-recon/Tx"
Select file button is not intuitive.
![select file](https://user-images.githubusercontent.com/51136062/58715472-ef052100-8394-11e9-96a7-bde0311fc0f8.JPG)

[2019-05-31 16:38] ellieaniosis opened #6 "Reset Button standard mode-analyze"
The reset button doesn't do anything.

[2019-06-04 15:08] ellieaniosis opened #7 "Register-Units of Measurement"
![measurement issue](https://user-images.githubusercontent.com/51136062/58890402-8d0c2a80-86b8-11e9-9d5f-31584e7480ca.JPG)
It doesn't allow the user to choose the units of measurement that they understand after choosing a subject.

[2019-06-04 15:12] ellieaniosis opened #8 "Register-Gender Choices"
![gender issue](https://user-images.githubusercontent.com/51136062/58890921-88944180-86b9-11e9-8988-25228bdfec4c.JPG)
After picking a phantom, it allowed me to change the gender from other to female but not from other to male.

[2019-06-04 19:26] ellieaniosis opened #9 "Acquire-New Sequence"
After choosing and running a sequence, it doesn't show what sequence just ran in the white box.
![issue acquire](https://user-images.githubusercontent.com/51136062/58907796-0289f200-86dd-11e9-935d-f2283d5ffd9e.JPG)

[2019-06-04 19:57] ellieaniosis opened #10 "Image and acquisition/analysis parameter export"
After image acquisition/analysis, there needs to be an ability to export/save the image with its parameters.

[2019-06-04 20:00] ellieaniosis opened #11 "Range of parameters"
A range should be set for the parameters, so the users don't get errors for using the wrong parameters.

[2019-06-04 20:58] ellieaniosis opened #12 "Analyze T2 Spheres"
![spheres](https://user-images.githubusercontent.com/51136062/58913301-e80a4580-86e9-11e9-80dc-95bcb84a130c.JPG)
Spheres weren't accurately detected in T2.

[2019-06-06 19:00] Mmj94 commented on #4
[code]

**ADD:**
[code]

[2019-06-06 20:39] sravan953 commented on #3
Running the script from the command line does not work either.
Also, there must be a simpler fix as opposed to changing working directory to work with PyCharm?

[2019-06-07 13:30] sairamgeethanath commented on #3
This issue was fixed with the following lines for CLI if __name__ == '__main__':
    import os
    import sys

    script_path = os.path.abspath(__file__)
    SEARCH_PATH = script_path[:script_path.index('Virtual-Scanner') + len('Virtual-Scanner') + 1]
    sys.path.insert(0, SEARCH_PATH)

Please do provide screenshots or error messages when you run from CLI. In parallel, I am not aware of a bug fi

[2019-06-07 13:48] sairamgeethanath commented on #7
Also, the metric needs to be kg and m, not cm.

[2019-06-07 13:50] sairamgeethanath commented on #4
@Mmj94 if the graying out has been accomplished, you can close this bug

[2019-06-07 15:14] #4 closed

[2019-06-11 16:42] tonggehua commented on #7
The centimeter seems to be a more typical unit for height in metric systems to me; for the US it would be the feet-inch combination.

[2019-06-13 21:06] Mmj94 commented on #7
I don't see this as a bug.
1. I agree with @tonggehua, cm is the most used unit for height in my opinion. If we use meters we will have to introduce a . or , which can lead to other bugs.
2. I implemented the option to choose between metric and imperial systems. However, since 1. only numerical phantom can be chosen at the moment, 2. the user is unable to modify any of its parameters and 3. the ba

[2019-06-14 16:53] Mmj94 commented on #7
This is not a bug anymore.
We have agreed that once the phantom is selected units will be kg for weight and cm for height.
Instead we have turned it into an enhancement point. We will allow the user to choose the combination of system and/or units he/she prefers when registering a human subject.

[2019-06-14 17:05] sravan953 commented on #5
@ellieaniosis Please describe the bug?

[2019-06-24 20:25] sravan953 commented on #3
Commit https://github.com/imr-framework/virtual-scanner/commit/bab61123f71fbee86229e0cefbdda76e70723a44 fixes this issue.

1. PyCharm working directory changes are no longer needed.
2. Code runs fine from command line too.
3. `subject.db` is only created in the expected directory and not in the user's home directory.

Please confirm from your end.

[2019-06-25 13:55] sairamgeethanath commented on #3
Ran the code 3 times with no failure for the path related to subject.db.
Bug fixed.

[2019-06-25 13:55] #3 closed

[2019-06-26 16:25] #7 closed

[2019-06-26 16:26] #6 closed

[2019-06-26 16:27] #8 closed

[2019-06-26 16:27] #9 closed

[2019-07-03 19:27] qianenlin commented on #12
The incorrect sphere detection originates from incorrect T2 maps. The T2 mapping model and bounds for parameters are adjusted to generate a more accurate T2 map. This fixes the sphere detection problem.

[2019-07-03 19:27] #12 closed

[2019-07-08 00:40] #11 closed

[2019-07-10 17:06] sravan953 opened #13 "Could not convert `str` to `float`"
Steps to reproduce:
1. Register subject
2. Choose GRE sequence under acquire tab
3. Run

[2019-07-11 08:49] #13 closed

[2019-07-11 13:38] sairamgeethanath commented on #13
@Mmj94 Have you checked the parameter ranges for other variables as well, since the new implementation?
My understanding was that this affected only the slice thickness. Please clarify

[2019-07-11 19:59] Mmj94 commented on #13
@sairamgeethanath it was not a problem only of the ranges. Range was in meters instead of mm and that was interfering too.
Apart from that, the main problem was that I accidentally deleted the word "thickness" from one html tag. It should be id="thickness" but instead it was id="", hence the error.
Both things should be fixed now. The rest of the parameter ranges should not be affected and I belie

[2019-07-15 16:58] tonggehua opened #14 "Tx path problems"
When I select one of the two seq files in the "server\rf\tx\SAR_calc\assets" folder and hit calculate SAR, it gives the following error:

![image](https://user-images.githubusercontent.com/31249056/61233990-f2175f00-a6ff-11e9-81bf-4e41c399bf1c.png)

[2019-07-15 18:04] sairamgeethanath commented on #14
Not able to reproduce error on my system - Mac Book, also no image is generated when the sequence does not have at least 10 seconds of acquisition, the table reports NA

[2019-07-15 18:06] sravan953 commented on #14
@sairamgeethanath A placeholder image for sequences < 10s might be a better idea.

[2019-07-15 18:10] sairamgeethanath commented on #14
@sravan953 I can add a default image but that would be an error message.

[2019-07-17 20:05] sairamgeethanath commented on #14
Fixed with commit imsg@818e65

[2019-07-17 20:05] #14 closed

[2019-07-20 18:18] ellieaniosis opened #16 "SAR Graph-TX Advanced Mode"
The graph is showing multiple colored lines for only the whole body: 10 seconds and for the head only: 10 seconds. Only two of the colors are actually shown on the graph.
![graph](https://user-images.githubusercontent.com/51136062/61582443-d55c9c00-aaf0-11e9-9462-5302057a13ea.JPG)

[2019-07-21 22:23] sairamgeethanath commented on #16
@ellieaniosis I was able to reproduce this on my system. This happens when you run the same file multiple times as it plots on the existing graph linked to the same .seq file. This has been fixed with commit 7f843d to master with a change on SAR_calc_main

[2019-07-21 22:23] #16 closed

[2019-07-23 16:23] tonggehua opened #17 "Sagittal/coronal slices not showing up"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Register the numerical phantom
2. Go to acquire page and add a GRE sequence
3. Keep all default parameters except for slice direction (change to "sagittal" or "coronal") and N (change to 5)
4. Hit Run Exam

**Expected behavior**
No image shows up despite it being stored in

[2019-07-23 16:35] #17 closed

[2019-07-25 15:35] tonggehua opened #18 "Acquire page: KeyError 'freq' under certain conditions"
**Describe the bug**
This error shows up after certain multiple simulation steps:
``enc = seqinfo['freq']+seqinfo['ph']+ orient_dict[seqinfo['sl-orient']]``
_KeyError: 'freq'_

**To Reproduce**
Steps to reproduce the behavior:
1. Register phantom
2. Simulate : (1) SE (or GRE), sagittal, N=5 (keep the default for all other parameters)
                     (2) SE (or GRE), sagittal, N=5
3. Error sho

[2019-07-25 15:41] tonggehua opened #19 "Acquire page : display of multiple images can't switch between GRE and SE"
**Describe the bug**
When displaying multiple simulated SE and GRE images on the screen, the GUI only shows either all the SE images or all the GRE images, but does not allow the user to go between them.

**To Reproduce**
Steps to reproduce the behavior:
1. Register phantom
2. Simulate (use default parameters if not mentioned):
     (1) SE, axial, N=5
     (2) GRE, axial, N=5, TR= 2000 (to generat

[2019-07-25 17:22] tonggehua opened #20 "Acquire page: images disappearing"
**Describe the bug**
When GRE is simulated after SE, the first image disappears under certain conditions.

**To Reproduce**
Steps to reproduce the behavior:
1. Register phantom
2. Simulate (keep parameters default if not indicated):
    (1) SE, N=5, sagittal
    (2) GRE, N=5, coronal
3. After (2), the image from (1) disappears when image from (2) is shown.
4. In general, this happens only when the

[2019-08-09 17:44] vsoch opened #21 "JoSS Review: Manuscript"
This is the start of review for https://github.com/openjournals/joss-reviews/issues/1637.

## Manuscript

The introduction does a good job to communicate a statement of need, but I'd like to see a few more references for:

 - the opening statement about MRI being excellent and having diagnostic value (a review paper would work here)
 - a reference on simulators

It would be helpful to flush out th

[2019-08-09 17:50] vsoch opened #22 "JoSS Review: Repository"
## Repository

This is for https://github.com/openjournals/joss-reviews/issues/1637

I can confirm that the repository, here, does in fact exist, and has instructions for contribution (CONTRIBUTING.md) along with a CODE_OF_CONDUCT.md. The LICENSE file is an OSI approved license, and version 1.0.0 matches what is submit with the paper.

For Authors, I can match the paper authors as follows (please

[2019-08-09 17:56] vsoch opened #23 "JoSS Review: Functionality"
## Functionality

This is for https://github.com/openjournals/joss-reviews/issues/1637

It's not required, but for the interested user it's sometimes helpful to give them a command to copy paste verbatim to clone the repository. The repository seems big, so a --depth 1 might help:

[code]

There isn't any instruction to install dependencies, although I see the requirements.txt file, and it's immen

[2019-08-09 19:13] sairamgeethanath commented on #22
Nishika Girish was a high school intern at Columbia during which time she
designed the google forms for tutorials and feedback.
She also collected feedback from local MR users at Columbia for refining
features. Her contribution trail can also be seen on the issues she has
reported.

Tommy Vaughan has been principally involved in designing accessible MRI
tools such as the virtual scanner, mentored

[2019-08-09 19:18] vsoch commented on #22
Great, thanks for the clarification! Both of those contributions are very much appropriate to warrant authorship. Nishika will probably be very excited to have her name on a paper! The repository looks good for the points above, closing issue.

[2019-08-09 19:18] #22 closed

[2019-08-09 19:51] sairamgeethanath commented on #23
@vsoch We do not have experience with containers but find the review comment to be valuable. We will spend some time on this and get it to work as a Dockerfile

[2019-08-09 19:55] vsoch commented on #23
okay sounds good! If you give it a solid effort and it's a stopping point for the review, then I'd be happy to help - I have a lot of experience with containers.

[2019-08-14 17:28] mathieuboudreau opened #24 "JOSS REVIEW: Missing dependency (pypulseq==0.0.3)"
This is for openjournals/joss-reviews#1637

Per your [installation instructions](https://github.com/imr-framework/virtual-scanner/blame/12b6a47e2fce96588adf51964474bb30540bb97d/README.md#L13), I tried to installed all your requirements (using `pip install -e .`), however I encountered a missing dependency:

[code]

It appears that this version of pypulseq is not available on pypi: https://pypi.org

[2019-08-14 17:34] mathieuboudreau opened #25 "JOSS REVIEW: Clarifying installation details"
This is for openjournals/joss-reviews#1637

In your installation instructions in your README, could you please:

1 - Specify which Python version (e.g. 3.6.x) or range of versions (e.g. 3.6-3.7) that you intend this software to be compatible with?
2 - As you are recommending people to install a lot of specific external python package & exact versions, it would be best practice to suggest to the us

[2019-08-14 17:41] mathieuboudreau commented on #24
Digging into this a bit more, I see that your requirements.txt file in your master correctly suggests version 1.0.0 of pypulseq, so it's not quite clear to me why it's trying to pull version 0.0.3. I'll look into this and report back.

[2019-08-14 17:43] mathieuboudreau commented on #24
The conflict is in your setup.py file, which doesn't call your requirements.txt file.

https://github.com/imr-framework/virtual-scanner/blob/12b6a47e2fce96588adf51964474bb30540bb97d/setup.py#L42

[2019-08-14 17:46] mathieuboudreau commented on #24
There is a mismatch between your setup.py file and your requirements.txt file. At the very least, this should be cleaned up so they match, but ideally you wouldn't duplicate these.

You could either suggest that the user installs the requirements.txt file using `pip install -r requirements.txt`, or create a setup.py like [this one](https://github.com/neuropoly/axondeepseg/blob/master/setup.py), wh

[2019-08-14 17:51] mathieuboudreau commented on #24
Note that this bug is present while installing using pypi  using `pip install virtual-scanner`, so I would recommend using the setup.py solution I recommend above if you plan on hosting on pypi.

[2019-08-14 18:00] mathieuboudreau opened #26 "JOSS REVIEW: Matplotlib issue on Mac when using (Ana)conda"
This is for openjournals/joss-reviews#1637

Not a high priority, but it may be worth noting to your users that if they're running on a Mac with (Ana)conda, the fix if they encounter the following error when running `python virtualscanner/coms/coms_ui/coms_server_flask.py`:

is to run this command:

`echo "backend: TkAgg" >> ~/.matplotlib/matplotlibrc`

See: https://github.com/scikit-optimize/sciki

[2019-08-14 18:26] mathieuboudreau opened #27 "JOSS REVIEW: Running exam results in ModuleNotFoundError: No module named 'virtualscanner'"
This is for openjournals/joss-reviews#1637

Here's my setup:

* anaconda already installed on my system
* cloned the repo and `cd`' into it
* created a virtual environment using `conda create -n virtualscanner python=3.6`
* activated the virtual environment using `conda activate virtualscanner`
* installed requirements using 'pip install -r requirements.txt`
* Resolved the Matplotlib/Conda/Mac iss

[2019-08-14 18:45] sairamgeethanath commented on #27
@sravan953 Seems to be a path issue, does it need an edit in the constants.py?

[2019-08-14 18:49] sairamgeethanath commented on #25
@mathieuboudreau We will update the install instructions but we use Python 3.6 and [venv](https://docs.python.org/3/library/venv.html). I request you to use the same for reproducible results. You can pip install the package as well with pip install virtual-scanner

[2019-08-14 18:52] mathieuboudreau commented on #25
Thanks! I did use 3.6 (but prefer conda over venv, as venv will only use your default python version and can't set it to a different one, and my default one is 3.7)

 However just to let you know that I encountered the issue #24 in when trying to install using `pip install virtual-scanner`, so you may want to investigate that.

[2019-08-14 19:27] sravan953 commented on #26
@sairamgeethanath This should go into the documentation under a 'Common errors' section?

[2019-08-14 19:42] sravan953 commented on #24
Was not aware of this, thank you very much! :)
Fixed in  f3718aca6c57dc634df2cc047af5d80fc711d90f.

[2019-08-14 19:42] #24 closed

[2019-08-14 20:48] sravan953 commented on #25
@mathieuboudreau Thank you for your inputs, they've been addressed in b42f9099812e2024ab4541c47f5b4a23b040a500.

[2019-08-14 20:48] #25 closed

[2019-08-14 21:07] #27 closed

[2019-08-14 22:50] sairamgeethanath commented on #26
@sravan953 @mathieuboudreau If we all agree then we can file this in known issues as this is a package (matplotlib) dependency issue.

[2019-08-14 23:00] mathieuboudreau commented on #26
That works for me!

[2019-08-15 21:08] #18 closed

[2019-08-15 21:08] #19 closed

[2019-08-15 21:08] #20 closed

[2019-08-19 17:47] mathieuboudreau opened #29 "JOSS REVIEW: Clarifying how to start software"
This is for openjournals/joss-reviews#1637

To me, the "Getting started" instructions appear to lack a bit of clarity when it comes to using the software (both from pipy installation and from cloning the repo), as I encountered issues when following your instructions explicitly.

pypi instructions
* After installing with pipy, you're [Getting started]() instructions simply state to "run coms_serve

[2019-08-19 18:26] mathieuboudreau opened #30 "JOSS REVIEW: Affiliation 1"
This is for openjournals/joss-reviews#1637

In your first affiliation, would you mind adding the state and country at the end to be consistent with your second affiliation?

[2019-08-19 18:32] sairamgeethanath commented on #30
@tonggehua Can you please take a crack at all manuscript related fixes including this one? Let's schedule a Friday submission of the paper.md

[2019-08-19 18:45] mathieuboudreau commented on #29
Actually, if you go this route, you'll need a third change, as this section of the code is only run if you call `coms_server_flask.py` as through main, and you need `os` for sure.

https://github.com/imr-framework/virtual-scanner/blob/0e805c74cd780862d617de2437eb9d54375339cd/virtualscanner/coms/coms_ui/coms_server_flask.py#L4-L10

This if statement needs to be refactored somehow so that it's appli

[2019-08-19 20:18] tonggehua commented on #30
Understood!

Gehua

On Mon, Aug 19, 2019 at 2:32 PM Sairam Geethanath <notifications@github.com>
wrote:

[2019-08-20 12:48] mathieuboudreau commented on #26
FYI: I found another solution that works better for me: https://matplotlib.org/3.1.0/faq/osx_framework.html

* Install python.app (`conda install python.app`) and use `pythonw` rather than `python`.

[2019-08-20 13:03] mathieuboudreau opened #31 "Test failure: utest_ROI_analysis_T1_T2.py"
FYI, I ran [this unit test](https://github.com/imr-framework/virtual-scanner/blob/master/virtualscanner/server/ana/utest_ROI_analysis_T1_T2.py) today and it failed. Here is the output,

<details>

[code]

</details>

As a side note, it might be a good idea for your group to setup [continuous integration testing](https://crossbrowsertesting.com/blog/continuous-integration/continuous-integration-tes

[2019-08-20 14:07] mathieuboudreau opened #32 "JOSS REVIEW: Statement of need (README.md)"
This is for openjournals/joss-reviews#1637

Would you mind expanding your README.md a little bit more so that it adheres to this JoSS review checklist point?

You link to the Africa Challenge in the ISMRM website, which I think states the target audience and the problem your software tries to resolve, however maybe you could briefly explain that in your own words here (in part, because the page yo

[2019-08-20 14:12] mathieuboudreau opened #33 "JOSS REVIEW: Community guidelines"
This is for openjournals/joss-reviews#1637

Could you expand your [CONTRIBUTING.md](https://github.com/imr-framework/virtual-scanner/blob/master/CONTRIBUTING.md) a bit so that it has sections describing the three points required by the JoSS checklist item?

Basically indicating what your preference is for people to contribute (e.g. Fork and make a pull request?), your preference for how to report

[2019-08-20 16:15] mathieuboudreau opened #34 "Encountered GUI user experience bugs"
I encountered a few UX bugs while playing around with the GUI.

**--Bug # 1--**

Details: Re-running exam crashes UI.

How to reproduce:

* Setup in standard mode
* Register phantom
* Click acquire tab
* Select GRE sequence
* Click "Run exam"
* Wait for simulation to finish
* Without modifying anything (although it will also crash if you do), try to repeat exam by clicking "Run exam a second time"

[2019-08-20 16:42] tonggehua commented on #34
For Bug # 1, we are aware that it happens and will disable the button if a sequence is not selected, for better user experience.
For Bug # 2, have you tried using the left/right arrows to switch to the next image after the second one is generated? I agree that it's a good idea to always show the latest image in front. A better enhancement would be to have a work-space feature where you store past

[2019-08-20 17:26] mathieuboudreau commented on #34
Ah ha, I had missed that functionality! I just expected the newest image to show up, but it's good that I can access it using that way at least.

[2019-08-23 15:43] tonggehua commented on #33
Close with commit b163a1b

[2019-08-23 15:43] #33 closed

[2019-08-23 15:52] sravan953 commented on #26
Referenced this issue in the `KNOWN_ISSUES.md`, commit 035c12ae631eace096858bb516dc90e81c39eba5.

[2019-08-23 15:52] #26 closed

[2019-08-23 15:53] #30 closed

[2019-08-23 16:58] tonggehua commented on #32
Close with fa324a8

[2019-08-23 16:58] #32 closed

[2019-08-23 17:01] #21 closed

[2019-08-23 17:05] vsoch commented on #21
Sorry, could you please explain how the issue has been addressed?

[2019-08-23 17:13] tonggehua commented on #21
1. We added 4 references that discuss the diagnostic uses of MRI.
2. We added a reference on open-source simulators (in Supporting table 1 in the Pulseq-GPI paper). However, we couldn't find references to proprietary simulators.
3. All the "MR"s have been changed to "MRI"s to avoid confusion.
4. We didn't change the styling since the main headers are already bolded in the PDF (https://github.com/o

[2019-08-23 17:24] Mmj94 commented on #34
For Bug #2: Arrows functionality are now specified in the GUI instructions.  Instructions can be found using the "?" button in each tab.

[2019-08-23 17:24] vsoch commented on #21
Thank you @tonggehua ! I still have most of my review to do - I'll try to do it within the next week (a lot on my plate at the moment!)

[2019-08-23 18:54] sravan953 commented on #29
@mathieuboudreau I have updated the `README.md` based on your inputs. Please let us know if this works and we can go ahead and close the issue.

[2019-08-23 20:46] tonggehua commented on #34
Push for fix was not successful

[2019-08-23 20:47] #34 closed

[2019-08-23 20:58] qianenlin commented on #31
The failure is caused by Mac/Windows inconsistencies. Fixed in bdcc5850b0f17a7c59d101b03da378007e13bd61.

[2019-08-23 20:58] #31 closed

[2019-08-24 16:58] vsoch commented on #21
Okay, just checking over the points above now! For the bolding, I am referring to the first word (before the colon) after each section. For example, we would change:

[code]
to
[code]
And the difference in markdown (rendered here) is:

* Modular: ``Virtual Scanner`` consists of modules corresponding to steps in the MRI signal chain
* **Modular**: ``Virtual Scanner`` consists of modules correspondi

[2019-08-24 17:00] vsoch commented on #23
hey @sairamgeethanath just wanted to see how you are doing here? I had forgotten about this issue, and went to continue my review, and then (again) realized I didn't want to install all the dependencies on my host (and remembered). Do you need help?

[2019-08-24 17:21] mathieuboudreau commented on #23
@vsoch fyi I opened an issue (#25) in my own review about this too. I recommended at least adding instructions to make a virtual environment using `venv` or `conda` (if available), and the authors updated the readme to recommend using `venv`. I have another issue opened related to installation/setup in issue #29

[2019-08-24 17:23] mathieuboudreau commented on #23
Actually I see that they removed the reference to `venv` and not just say to create a virtual environment using the tool of your choice.

[2019-08-24 17:27] vsoch commented on #23
It's okay, I went ahead and added a basic container with instructions here - https://github.com/imr-framework/virtual-scanner/pull/35 do you want to test it out and make sure everything runs the same as it should locally? I can update the PR if there is a bug.

[2019-08-24 20:01] vsoch opened #36 "JoSS Review: Using Virtual Scanner"
This is for https://github.com/openjournals/joss-reviews/issues/1637 and note that I'm testing with the container from #35. These are some issues related to using the software.

## Login
As a user, I'm tempted to just select standard or advanced and click "Start Scan" but nothing happens. I want to suggest any of the following:

 - Don't require an email to use it (this seems like an unnecessary b

[2019-08-24 20:04] sairamgeethanath commented on #23
@sravan did do a docker image and tried it yesterday which was buggy, we
will fix it on Monday.

We also have modified the readme to suit multiple install options.

Will respond in detail on Monday.

On Sat, Aug 24, 2019, 13:27 Vanessasaurus <notifications@github.com> wrote:

[2019-08-24 20:07] vsoch commented on #23
@sairamgeethanath I did a pull request with a fully working Dockerfile, see #35. I've been able to continue my review in #36. #35 is good to go, if you want to merge and then work on changes for #36. Thanks!

[2019-08-24 20:14] sairamgeethanath commented on #23
That would be great, will check it out and respond soon.

On Sat, Aug 24, 2019, 16:07 Vanessasaurus <notifications@github.com> wrote:

[2019-08-29 16:32] tonggehua commented on #36
@vsoch they should be resolved now with cb802265e0e337eec3deff3e7c2ec3faa0b4685e

[2019-08-29 16:56] vsoch commented on #36
Thanks! I'm pretty busy atm so I'll need to pick this up later. It's "kept as new" in my inbox :)

[2019-08-29 19:02] #23 closed

[2019-09-09 13:53] sairamgeethanath commented on #36
Given that we are unable to dockerize the code and reproduce errors from docker in the local environment, should we do the docker for the next version of the release? @tonggehua @sravan953 @Mmj94 @vsoch @mathieuboudreau @qianenlin

[2019-09-09 13:54] sairamgeethanath commented on #29
@mathieuboudreau Can we close #29 separately now as it shows up still as open?

[2019-09-09 13:55] mathieuboudreau commented on #36
I'm satisfied with at least having a virtual environment setup, I'm not completely attached to having a Docker one in this release.

[2019-09-09 13:58] vsoch commented on #36
I didn't have any issues with the Docker recipe I produced... Dockerization is a requirement on my end.

[2019-09-09 14:01] vsoch commented on #36
Virtual environments are one step up from not providing anything, but virtual environments != reproduciblity. I [mentioned this requirement](https://github.com/openjournals/joss-reviews/issues/1590#issuecomment-515681126) when I agreed to review, so I hope it is not coming as a surprise. I can help in whatever way is necessary, perhaps you can start by sharing what is different about the container

[2019-09-09 14:11] tonggehua commented on #36
We are not sure what is different between the container and running locally - not enough to resolve the bug. The crash mentioned earlier in https://github.com/imr-framework/virtual-scanner/issues/36#issue-484857122 and also a similar crash on Analyze page both happen only when we use Docker, not when we are running within the local virtual environment, with Pycharm. We've tried to debug with Docke

[2019-09-09 14:17] vsoch commented on #36
Windows still has a lot of issues with using Docker - do you have a linux machine to test it on? Or even a Mac? Or can you grab a cloud instance and run there, exposing the port to your local machine?

The target audience is usually not a Windows user, as containers and windows are a relatively (still) buggy thing, but that of course is my opinion. I would imagine someone on linux wanting to run i

[2019-09-10 02:52] tonggehua commented on #36
Crash errors and Docker build problems were fixed with 6a19c16d4496dd036e94f077c6584c0ad735e700, with a new Dockerfile update. Right now, Windows users should only use the published image (there is an OSError when trying to run a locally built image) and Mac users can either use the published image or build locally (instructions in README.md have been updated). We currently do not have a linux set

[2019-09-10 02:54] vsoch commented on #36
Can you please explain what you mean by not having a Linux set up? Containers run native we on Linux, much more easily than Mac or Windows.  Original recipe that I developed ran cleanly on Ubuntu.

[2019-09-10 02:55] vsoch commented on #36
If you just need a test of the new recipe on Linux I’d be happy to do this tomorrow :)

[2019-09-10 13:02] vsoch commented on #36
oy vey, my work wireless is still out (and I'm teathered to my phone) so I'll need to wait to test this for when I go back to my apartment later this afternoon. Even cloning a git repo is substantially slow / takes a lot of bandwidth!

[2019-09-10 13:53] tonggehua commented on #36
@vsoch Thanks so much for the response! By "not having a Linux setup", I mean that we don't a Linux system installed and in use for research on lab/personal computers.

[2019-09-10 13:55] tonggehua commented on #29
@mathieuboudreau Any updates on the README.md review? The latest update contains instructions for using the published Docker image as well. That makes three ways of getting started.

[2019-09-10 13:57] mathieuboudreau commented on #29
I had booked some time this afternoon to catch up on that and other parts of your review, I'll let you know ASAP!

[2019-09-10 14:14] vsoch commented on #36
ah okay! I thought you meant that the container wouldn't work for linux (it should!) I'll let you know when I'm able to test.

[2019-09-10 17:47] mathieuboudreau commented on #29
@tonggehua FYI, if I follow the instructions under "Quick Start" and follow the typical UX path (email, subject, select sequence, then run exam), I get the following error:

<img width="1393" alt="Capture d’écran 2019-09-10 à 15 14 53" src="https://user-images.githubusercontent.com/1421029/64637241-f600ee00-d3dd-11e9-9a8a-86049caaa6e8.png">
<img width="1393" alt="Capture d’écran 2019-09-10 à 15 15

[2019-09-10 17:54] mathieuboudreau commented on #29
I just tried the "Pro start" again. A few notes:

1 - As mentionned previously, the line "Run `coms_server_flask.py` to run your changes." isn't clear enough, since the file is hidden under several folders. I recommend you change it to "Run `python virtualscanner/coms/coms_ui/coms_server_flask.p` ..." to make the life of your new users a bit easier.

2- After running it, I noticed that the user in

[2019-09-10 17:59] mathieuboudreau commented on #29
If it works for you and doesn't for me, I'll take a video to show you what I'm experiencing

[2019-09-10 18:06] mathieuboudreau commented on #29
Tried the Docker instructions too, and I hit the same wall of not being able to click "Run exam""

[2019-09-10 19:57] mathieuboudreau commented on #29
Ahh, I just tried on Chrome and it works fine - stupid Safari. Sorry about that. The only point that doesn't work for me is the first one (Quick Start).

[2019-09-11 00:03] vsoch commented on #36
heyo! I didn't get to test it today, but I made sure to find a spot with a good connection, clone the repo, and build the container - so I should be able to complete my test and review tomorrow morning.

[2019-09-11 13:05] vsoch commented on #36
okay testing! The start up went much more smoothly this time - I could click a mode and proceed without worrying about email. The subject was then largely set up and I just needed to continue to analyze, and then the analyze (albeit a bit slow, I know you'll work on it) did produce an Axial image. I tested both GE and SE, and also the Analyze tab with the sample data. I'm not totally clear on what

[2019-09-11 16:31] tonggehua commented on #29
@mathieuboudreau what version of pip-installed Virtual Scanner are you using?

[2019-09-11 16:44] mathieuboudreau commented on #29
The latest one (1.0.22). It's dated from August 15th on pypi.

[2019-09-13 16:09] tonggehua commented on #29
@sravan953 Maybe this is a quick fix?

[2019-09-14 01:00] mathieuboudreau commented on #25
FYI, the issue is still not resolved for me. Trying the latest `pip` version of your software (1.0.24), I can't even access the server now, I just get this error on my terminal when running `virtualscanner`:

[code]

On a side note: it may be a good idea for you folks to setup a continuous testing suite, using something like Travis-CI (free). Several commits made during this JOSS review introduced

[2019-09-14 01:28] mathieuboudreau commented on #25
Dug in a bit deeper, this recent commit works if I run `virtualscanner` after I `git clone` the repo and install it using `pip install -e .`, just not if I install it through `pip install virtual-scanner`. Maybe has to do with the fact that when installed using `pip install virtual-scanner`, it's installed in a folder called `virtualscanner` and not `virtual-scanner` in the venv folder (i.e. only

[2019-09-16 15:35] sravan953 commented on #29
@mathieuboudreau Is it working now?

[2019-09-16 16:07] mathieuboudreau commented on #29
Odd, I was sure I sent a message on Friday about this. Did I post it in the wrong issue?

No, that fix did not resolve my issue completely. Now, when installing using `pip`, the command `virtualscanner` crashes before the server is even booted up, see error message below:

[code]

However, if I clone the repo and install it using `pip install -e .`, it works fine. I think the reason being that you

[2019-09-16 16:17] sravan953 commented on #29
@mathieuboudreau Sorry for the inconvenience, and thank you for your inputs about automated testing/CI. We are discussing and looking at ways to incorporate it in our workflow. For now, we should have fixed the startup issues whether it is a `pip install -e .`, `pip install virtual-scanner` or running in IDE. Eagerly waiting to hear back.

[2019-09-16 16:20] mathieuboudreau commented on #29
As I said above, `pip install -e .` works for me, `pip install virtual-scanner` does not. I explain why I suspect the latter fails in my above message.

[2019-09-16 16:25] sravan953 commented on #29
Yes, it took some digging around to figure it out, but turns out the upload to PyPI was not packaging a crucial asset file along with the source code, and hence the crash. Should be fixed now!

[2019-09-16 16:34] mathieuboudreau commented on #29
Getting close!

The server runs now with the new pypi release. I can Login, register the subject, load a sequence. However when I run the exam, it just freezes there and doesn't output the image. Here is my log (similar error as above occurs):

[code]

[2019-09-16 17:17] sairamgeethanath commented on #29
Path issues again  :(

On Mon, Sep 16, 2019, 12:34 Mathieu Boudreau <notifications@github.com>
wrote:

[2019-09-17 14:13] sairamgeethanath commented on #36
@vsoch Could you please let us know if you are okay for us to close this issue?

[2019-09-17 16:20] vsoch commented on #36
Yes we're good! Although I haven't finished the review yet - I'm technically taking vacation days but I'll see if I can squeeze it in soon.

[2019-09-17 16:20] #36 closed

[2019-09-17 22:35] vsoch opened #38 "JoSS Review: Testing"
This is for https://github.com/openjournals/joss-reviews/issues/1637. The last major requirement for this repository is to add proper testing, either via Travis, CircleCI, or another service of your choosing. Especially given the errors that came up (and a file missing from the release) it would be best to do a minimal build, and set of tests for the core software. There are a lot of really good s

[2019-09-27 14:05] tonggehua commented on #38
@vsoch We are working on this with Github Actions. What level of testing would you suggest? We have unit tests for the back-end code and plan to include those as part of the CI workflow. We have encountered errors from the GUI frequently though - should there be automated GUI tests too?

[2019-09-27 14:17] vsoch commented on #38
Front end testing is hard, so I would do unit tests for what you are able to do, and then test build / install and deploy of the interface. With selenium (or similar) you can do basic page navigation and just confirm that the response is successful (e.g., 200).

[2019-10-16 20:04] tonggehua commented on #29
@mathieuboudreau  Please try the pip install with the new 1.0.26 version. There shouldn't be a problem with seeing the simulated images now. We did find a problem with using the "virtualscanner" command on Windows (it still works on macOS) but will add the command that lets the user run coms_server_flask.py locally after a pip install.

[2019-10-17 16:56] mathieuboudreau commented on #29
Excellent!! This installation procedure works perfectly now on my system.

[2019-10-17 16:56] #29 closed

[2019-11-20 16:52] qianenlin opened #41 "utest_T1_T2_mapping failing on Github Actions (macOS)"
**Describe the bug**
utest_T1_T2_mapping pass on Windows (both local and Github actions) and macOS (local) but generates a much larger error on macOS (Github actions).

|             Platform            | Test passing |
|:-------------------------------:|:------------:|
|         Windows - local         |      Yes     |
|     Windows - Github Actions    |      Yes     |
|      macOS Catalina - loc

[2019-11-20 17:00] tonggehua commented on #38
**Differences between local testing and Github Actions testing**

@vsoch We are tying up the Selenium testing. The way we are doing it right now is to run `coms_server_flask.py` while another thread kicks off a unittest runner that uses Selenium to click elements. At the moment, the tests check whether you are on the right page / correct elements are present, for login/register/acquire/analzye/tx/

[2019-11-20 17:05] vsoch commented on #38
The one thing I would try before completely throwing in the towel is to run the same tests, but use CircleCI. I've done quite a bit of browser testing there and consistently get the same tests locally as on the CI. After that, if there is still issue, then we can say that your team gave their best effort and no go!

But maybe we will get lucky and the CircleCI runs will be consistent!

[2019-11-20 17:12] sairamgeethanath commented on #38
@vsoch We have trying to get this done on Github Actions and want to mark the rest as "To Dos" for the future. It will be another effort to move this to CircleCI. The tests run locally on both operating systems. I appreciate your recommendations but moving to another tool all over will lose all the effort put on Github actions and require time and effort again. I kindly request you to reconsider y

[2019-11-20 17:15] vsoch commented on #38
okay, sure thing then. The tests aren't automated and this is below my personal standard (and review criteria) but I can make an exception because I know the amount of time and work your team has put into this. I won't check the automated tests box or close this issue, but I'll let the editors know that I'm consenting to this.

[2019-11-20 17:20] sairamgeethanath commented on #38
Thanks for your comments! However, I would like to clarify that the Github actions are successfully running automated tests for backend functionalities. The front end GUI tests based on your Selenium suggestion runs for windows as well. We are pointing to the discrepancies between local and Github Actions (something we cannot control much). We are not sure about moving to other CI platforms as Act

[2019-11-20 17:25] vsoch commented on #38
Yes, and hopefully this can be fully finished at some point to be run automated.

I suggested in the issue to use Selenium on Circle, which has worked for me many times, and the authors asked for a waiver.

[2019-11-20 17:30] sairamgeethanath commented on #38
Thanks, just to clarify:
This means looking at the discrepancies between Github Actions (different python versions, configurations) and local testing. I am not sure if we need to focus on the software version/libraries discrepancies. Circle CI does not offer "Mac" for the free version.

[2019-11-20 19:36] tonggehua opened #42 "Selenium front-end testing"
**Testing the front-end on Github Actions with Selenium**
Automatic front-end testing with Selenium on Github Actions is disabled now, due to:

* Problems with properly ending both threads (the test thread, and the coms_server_flask thread which runs the app) in multi-threading in the Github Actions environment;
* Clickable elements being obscured, again only in the Github Actions environment, pro

[2020-12-03 18:28] ANG13 opened #48 "grad_shapes_path_dict empty in seq2xml.py"
I'm testing the function seq2xml.py with a bSSFP sequence I built in pypulseq. In this bSSFP sequence I rearrange the gradients with split_gradient_at and add_gradients in order to have the correct timings.

However, when I try the seq2xml.py function I get this error:

`  File "/PycharmProjects/VirtualScanner/virtualscanner/virtualscanner/server/simulation/py2jemris/seq2xml.py", line 146, in seq2

[2021-02-18 15:24] tonggehua commented on #48
@ANG13 Thank you for the valuable feedback. Is it possible for you to share the bSSFP script so that I can debug it?

[2021-02-23 12:47] ZemaTimoteo commented on #48
Hi @ANG13 & @tonggehua .

I am facing a similar issue. I am trying to use seq2xml.py to convert a Multi Spin Echo (MSE) sequence i just created. However, i encounter the same problem when facing the if clause.

My MSE is based on a Turbo Spin-Echo (TSE) sequence from the pypulseq example sequences folder.

How can I handle this issue?
I tried to remove the <len(seq.grad_library.data[g_ind]) == 3>

[2021-02-25 03:29] tonggehua commented on #48
@ANG13 @ZemaTimoteo
Which version of Pulseq did you use? Was the sequence built with Pypulseq or the original MATLAB Pulseq?

In the version I worked on,  `seq.grad_library.data` had 3 entries (amplitude, shape id, and delay) for the [GRADIENTS] type (not trapezoid, but arbitrary gradients, which anything created with `make_extended_trapezoid` results in). It seems that the version you use has 5 e

[2021-02-28 20:20] ANG13 commented on #48
Hi @tonggehua, I used pypulseq 1.2.0 to build the bSSFP sequence ( *.seq here: [bSSFP_pypulseq.zip](https://github.com/imr-framework/virtual-scanner/files/6057846/bSSFP_pypulseq.zip)).

I also have arbitrary gradients in the z direction, so I had to change the file  `save_grad_library_info.py ` to account also for arbitrary gradients in that direction. But I'm not sure I did the correct changes be

[2021-03-01 13:48] ZemaTimoteo commented on #48
I tried to change the value in the if clause from 3 to 5 but i know get this error:

` File "D:/Tiago/Trabalho/2021_2025_PhD/Projects/Toolboxes/Python/py2jemris\seq2xml.py", line 264, in save_grad_library_info
    t_points = this_block.gx.t
AttributeError: 'types.SimpleNamespace' object has no attribute 'gx' `

I share a Google drive link in which you can find my '.seq' MSE file
https://drive.goog

[2021-03-04 03:14] tonggehua commented on #48
@ANG13 On the header of this file, it says "Created by JEMRIS 2.8.3". Is this the correct file? Right now, Pypulseq is not back-compatible to this version and I cannot read the file.

[2021-03-04 03:23] tonggehua commented on #48
@ZemaTimoteo @ANG13 Please visit the [new py2jemris repository](https://github.com/imr-framework/py2jemris) to try the up-to-date version of `seq2xml`. I tried loading the MSE file provided by @ZemaTimoteo and it ran without generating any errors. From now on, all new development will be on this new repository and the outdated code will be removed from the Virtual Scanner project soon.

[2021-03-04 03:24] tonggehua commented on #48
I am closing this thread. If there are issues after retest using the new code, **please post an issue at the new repository.** Thanks so much for your feedback and hope you continue to try out this package!

[2021-03-04 03:24] #48 closed

[2021-10-22 06:11] ShannonZ opened #58 "Throw TemplateNotFound exception at start up"
jinja2.exceptions.TemplateNotFound
jinja2.exceptions.TemplateNotFound: log_in.html

**Desktop (please complete the following information):**
 - OS: Win10
 - Browser: Chrome
 - Version 1.0.0

[2022-05-19 08:58] sammmore opened #61 "Running the command 'virtual machine'"
Hello, I'm fairly new to programming, I tried your steps but the final command in 'readme' always gives me an error: zsh: command not found: virtualscanner. Please help!